{{ partial "header.html" . }}

<div class="content">
    {{ .Content }}

    <p><a href="https://talk.gdscript.com/forum-5.html">Comments Forum</a></p>

    <h2>More Devlog entries</h2>

    <p>Most recent first</p>

    <ul>
    {{- $url := .RelPermalink }}
    {{- range (where .Site.RegularPages.ByWeight "Section" "devlog") }}
        {{- if (ne .RelPermalink $url) -}}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{- end }}
    {{- end }}
    </ul>
</div>

{{ partial "footer.html" . }}